

.collage-1 {
    width:1269px;
    display: grid;
    margin: auto;
    margin-top:50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
}

.collage-heading {
  grid-column: 1 / -1;
}
.card {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
}

.card:hover{
    transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 500;
}

footer nav {
    width: 1269px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top:50px;
    padding: 20px 0;
}

.nav-btn {
    border-radius: 20px;
    background-color:whitesmoke;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: #f0e6d2;
    transform: scale(1.05);
}
