body{
    overflow-x: hidden;
}

.collage {
    width:1269px;
    display: grid;
    margin: auto;
    margin-top:50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
}

.collage-heading {
  grid-column: 1 / -1;
}

.card {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
}

.card:hover{
    transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 500;
}

footer nav {
    width: 1269px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    margin-top:50px;
}

.nav-btn {
    width:100px;
    border-radius: 20px;
    background-color:whitesmoke;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: #f0e6d2;
    transform: scale(1.05);
}

.card2c{
  height: 200px;
  transition: transform 0.25s ease-out;
  grid-column: span 2;
}

.card2c:hover{
    transform: scale(1.03);
}

.card2r img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card2r{
  width:300px;
  transition: transform 0.25s ease-out;
  grid-row: span 2;
}

.card2r:hover{
    transform: scale(1.03);
}

.collage3-heading {
    font-weight:200;
    font-size:50px;
    grid-column: 1 / -1;
}

.card-item {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
}

.card-item:hover{
    transform: scale(1.03);
}

.card-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-item3 {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
  grid-column-start:4;
}

.card-item3:hover{
    transform: scale(1.03);
}

.card-item3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-item4 {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
  grid-column-start:2;
}

.card-item4:hover{
    transform: scale(1.03);
}

.card-item4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-item5 {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
  grid-column-end:-2;
}

.card-item5:hover{
    transform: scale(1.03);
}

.card-item5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage3-heading {
    font-weight:200;
    font-size:50px;
    grid-column: 1 / -1;
}

.collage3 {
    width:1269px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
}


.collage4 {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    margin-left: -100px;
    gap: 20px;
    justify-content: flex-start;
    position: relative;
}

.collage4-item {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
}

.collage4-item:hover{
    transform: scale(1.03);
}

.collage4-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage4-heading {
    font-weight:200;
    font-size:50px;
    grid-column: span 3;
    padding-left:120px;
}

.collage4-heading-small {
    font-weight:200;
    font-size:50px;
    grid-column: span 2;
    padding-left:120px;
}
.column {
  grid-column-end:-1;
}

.collage4-item-column:hover{
    transform: scale(1.03);
}

.collage4-item-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage4-item-row {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
  grid-column-start:2;
}

.collage4-item-row:hover{
    transform: scale(1.03);
}

.collage4-item-row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage4-item-column2 {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
  grid-column-start:2;
}

.collage4-item-column2:hover{
    transform: scale(1.03);
}

.collage4-item-column2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage4-item-5 {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
  grid-column:4/-3; 
}

.collage4-item-5:hover{
    transform: scale(1.03);
}

.collage4-item-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.collage4-item-6 {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
  grid-row:4;
}

.collage4-item-6:hover{
    transform: scale(1.03);
}

.collage4-item-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.collage4-item-7 {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
  grid-column-start: 3;
  grid-row:4;
}

.collage4-item-7:hover{
    transform: scale(1.03);
}

.collage4-item-7 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collage4-item-8 {
  width:300px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.25s ease-out;
  box-shadow: 5px 4px 5px 0px #AC9D8D;
  grid-column-end:-1;
  grid-row:4;
}

.collage4-item-8:hover{
    transform: scale(1.03);
}

.collage4-item-8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divider {
  position: absolute;
  top: 0;
  left: 60.5%;
  width: 1px; 
  height: 100%;
  background:black;
}